<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vouchers</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1>Vouchers Deluxe</h1>
    <hr>
    <h2>Add a voucher</h2>
    <div class="container">
      <form action="/voucher" method="post">
        <h4><label for="title">Debit</label></h4>
        <input type="text" name="debit" placeholder="0" value="{{ request.form['debit'] }}"></input>

        <h4><label for="title">Credit</label></h4>
        <input type="text" name="kredit" placeholder="0" value="{{ request.form['kredit'] }}"></input>

        <h4><label for="title">User-ID</label></h4>
        <input type="text" name="user_id" placeholder="0" value="{{ request.form['user_id'] }}"></input>
        <button type="submit" class="btn btn-primary mb-3">Vouche!</button>

      </form>
    </div>
    <hr>

    <h2>Verifikat</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Debit</th>
          <th scope="col">Credit</th>
          <th scope="col">User ID</th>
        </tr>
      </thead>
      <tbody>
        {% for row in vouchers %}
        <tr>
          <th scope="row">{{ row.id }}</th>
          <td>{{ row.debit }}</td>
          <td>{{ row.credit }}</td>
          <td>{{ row.user_id }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>